@{
    ViewData["Title"] = localizer["Department"];
    ViewData["Caption"] = localizer["Manage Department here"];
}
@using BlogManager.Web.Areas.Office.Models
@model DepartmentViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Department.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/Office/Department/OnGetCrateOrEdit','Create Department')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

@*        <a onclick="jQueryModalGet('/office/department/OnGetCrateOrEdit','Create Department')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>*@

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#departmentTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/Office/Department/LoadAll');
        }
    </script>
}